<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2019 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	This file is used to launch a ros wrapper which can be combined with public velodyne drivers to make them CARMA compatible
-->
<launch>
    <node name="velodyne_lidar_driver_wrapper" pkg="velodyne_lidar_driver_wrapper" type="velodyne_lidar_driver_wrapper_node" output="screen"/>
    <rosparam command="load" file="$(find velodyne_lidar_driver_wrapper)/config/parameters.yaml" />

    <node pkg="topic_tools" type="relay" name="relay_points_raw" args="/velodyne_points /lidar/points_raw" />
    <node pkg="topic_tools" type="relay" name="relay_lidar_scan" args="/scan /lidar/scan" />
</launch>
